*
  box-sizing: border-box
body
  font-family: 'Audiowide', cursive
  margin: 0
  background: url('./img/41432-kapitan_amerika_grazhdanskaya_vojna-studiya_marvel-figurka-kompyuternaya_igra-iskusstvo-1920x1080.jpg')
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: cover
.main
  padding-top: 50px
  padding-bottom: 100px
.movies
  &-section
    border: 1px solid lighten(#000000, 50)
    padding: 20px 10px 10px
    background-color: rgba(#ffffff, 0.7)
    border-radius: 15px
    margin-bottom: 10px
    &__title
      padding: 10px
      margin-bottom: 10px
      text-align: center
      font-size: 20px
  &-list
    display: flex
    flex-wrap: wrap
    padding: 0
    &__item
      padding: 10px
      margin-right: 5px
      border-radius: 15px
      margin-bottom: 10px
      list-style: none
      border: 1px solid red
      &-text
        cursor: pointer
.heroes
  &-section
    &__title
      text-align: center
      font-size: 25px
      font-weight: bold
      font-style: italic
      border: 1px solid lighten(#000000, 50)
      background-color: rgba(#ffffff, 0.7)
      border-radius: 15px
      margin-bottom: 10px
  &-item
    font-family: 'Open Sans', sans-serif
    font-weight: 400
    display: flex
    flex-direction: column
    justify-content: center
    box-shadow: 14px 11px 10px 0px #000000
    border-radius: 0 0 15px 15px
    margin-bottom: 15px
    transition: all 1s ease
    &:hover
      transform: translate(-2px, -2%)
    &__hero-name
      font-family: 'Audiowide', cursive
      font-size: 20px
      text-align: center
      margin-bottom: 10px
      &::after
        content: ""
        display: block
        height: 2px
        background-color: #000000
        width: 100%
        margin-top: 5px
    &__descr
      border: 1px solid lighten(#000000, 50)
      background-color: rgba(#ffffff, 0.7)
      padding: 10px
      border-radius: 0 0 15px 15px
      font-size: 12px
    &__img
      text-align: center
      img
        width: 100%
        height: 100%
